---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About me: '

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

// To-DO: define a style variable and use it in the local CSS as var(--color)
---

<BaseLayout pageTitle={pageTitle}>
	<main>

    <h3>{pageTitle}</h3>
    
    <p class="instructions">
      I am working through <strong>Astro's introductory tutorial.</strong> <br />  This is the second page on my website
    </p>

    <p class="instructions">
      This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!
    </p>

    <section>
      <p>Here are a few facts about me:</p>
      <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
          <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
      </ul>
    </section>

    <section>
      <p>My skills are:</p>
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
    </section>

    <section class="conditional-rendering">
      <h3 class="conditional-rendering"> Conditional Rendering: </h3>
      <ul>
        {happy && <li>I am happy to be learning Astro!</li>}
        {finished && <li>I finished this tutorial!</li>}
        {goal === 3 ? <li>My goal is to finish in 3 days.</li> : <li>My goal is not 3 days.</li>}
      </ul>
    </section>

	</main>
</BaseLayout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
  h3 {
    color: purple;
    font-size: 2rem;
  } 
  .skill {
    font-weight: bold;
  }
</style>
