---
const { title, pubDate, description, author } = Astro.props;

// console.log(title, author)
// -FIX: props no están funcionando
---
<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1>{title}</h1>
      <p>{description}</p>
      <p>By {author} on {pubDate}</p>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  body {
    color: white;
    background-color: black;
  }
</style>